.container {
	max-width: 1200px;
	margin: 0 auto;
}

.card {
	margin: 30px;
	width: 80px;
	float: left;
}

.card img {
	width: 100%;
}

.hand {
	position: fixed;
	bottom: 30px;
	left: 10%;
	right: 10%;
}

.backside {
	width: 14%;
	height: auto;

}
