
body {
	padding-top: 100px;
}

.card {
	width: 100px;
}

.card img {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.container, 
.hand {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}

.hand .card {
	margin-left: -55px;
}

.hand .card:first-child {
	margin-left: 0px;
}
